<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table border='1'>
      <tr>
        <th>ID</th>
        <th>name</th>
      </tr>
      <% blogs.forEach(function(blog,index){ %>
        <tr>
          <td><%= blog.id %></td>
          <td><%= blog.name %></td>
        </tr>
      <% }) %>
    </table>
  </body>
</html>
